@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Inconsolata&family=Mali&display=swap');

body {
    background-color: #ccc;
    height: fit-content;
    margin: 0px;
    color: rgb(40, 40, 40);
    font-family: 'Mali', cursive;
}

#wrapper {
    padding: 10px 10px 10px 270px;
}

a,
a:checked {
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.on-small-desktop {
    display: none;
}

.content-div {
    padding: 10px;
}

.center-element {
    display: flex;
    justify-content: center;
}

.content-img {
    max-width: 60vw;
}



h1 {
    margin: 0px;
    text-align: center;
    padding: 20px 0;
    font-family: 'Amatic SC', cursive;
    color: rgb(65, 65, 65);
}

h3 {
    color: rgb(65, 65, 65);
}

p {
    padding-left: 10px;
}



.nav-img {
    opacity: 50%;
    width: 250px;
}

.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    float: left;
    overflow: hidden;
    height: 100vh;
    background-color: rgb(66, 66, 66);

    box-shadow: 1px 1px 4px #686868ad;
}

.menu-item {
    color: white;
    padding: 10%;
    margin: 0 20px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

footer {
    padding-left: 250px;
    text-align: center;
}



/* ---------------------------------------------------> dropdown <------------------------------------------- */

.dropbtn {
    background-color: rgb(66, 66, 66);
    color: white;
    padding: 10%;
    margin: 0 20px;
    text-decoration: none;
    text-align: center;
    font-family: 'Mali', cursive;
    width: 210px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(76, 76, 76);
    width: 210px;
    left: 20px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* --------------------------------------------> landing page styles <----------------------------------- */


.landing-page-img {
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
}

.landing-page-img-div {
    margin-left: 250px;
    position: relative;
    text-align: center;

}

.title {
    color: #ccc;
    font-weight: 100;
}

.bottom-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: move 2s infinite;
}

@keyframes move {
    from {
        top: 87vh;
    }

    to {
        top: 90vh;
    }
}

.bottom-text:hover {
    cursor: pointer;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

/* ---------------------------------------------------> table styles <----------------------------------------------------- */

table {
    border-collapse: collapse;
    width: 540px;
}

thead {
    background-color: rgb(66, 66, 66);
    color: white;
}


th {
    padding: 20px;
    font-weight: 100;
}

td {
    padding: 10px;
    width: 270px;
}


.t-content {
    border: 2px solid rgb(82, 82, 82);
}

.t-first-row {
    border-bottom: 1px solid rgb(82, 82, 82);
}

.left-col-td {
    border-right: 1px solid rgb(82, 82, 82);
}

.t-headers {
    margin-bottom: 5px;
}


.t-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* ----------------------------------------------------> photos gallery <-------------------------------------------------- */

.photos-gallery {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gallery-img {
    width: 180px;
    height: 220px;
    object-fit: cover;
    object-position: 0% 0%;

}

.gallery-item {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
}

.img-descr {
    padding: 15px;
    text-align: center;
    background-color: rgb(236, 236, 236);
}

.gallery-img:hover {
    cursor: grab;
}


/* ----------------------------------------> form styles <-------------------------------------------------- */

.form-container {
    padding-left: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-header {
    background-color: rgb(66, 66, 66);
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    font-size: 20px;
    height: 65px;
}

.form-header>p {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

form {
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    align-items: center;
    box-shadow: 1px 1px 4px #686868ad;
}

.user-data-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}

#user-data-label {
    margin: 0;
}

.user-data-input {
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(201, 199, 199, 0.8);
    margin-bottom: 10px;
    height: 30px;
    width: 100%;
}

.form-element {
    margin: 15px 0;
}

.agreement-checkbox {
    font-size: small;
}

#favorite-folk-costume {
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(201, 199, 199, 0.8);
    width: 60%;
    height: 30px;
    margin-bottom: 30px;
    font-family: 'Mali', cursive;
}

fieldset {
    border: 1px solid rgba(201, 199, 199, 0.8);
}


/* form buttons */

.submit-button,
.reset-button {
    width: 130px;
    padding: 10px;
    border: none;
    color: white;
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 1px 4px #686868ad;
    width: 60%;
    border-radius: 20px;
}

.reset-button {
    border: none;
    background-color: white;
    color: black;
    box-shadow: none;
}

.submit-button {
    background-color: rgb(66, 66, 66);
}

.submit-button:hover {
    transition: 0.3s;
    background-color: rgb(90, 90, 90);
}

.reset-button:hover {
    cursor: pointer;
    color: rgb(120, 120, 120);
}



/* ---------------------------------------------------------> dropdown <---------------------------------------------------------- */


.drop-button {
    background-color: rgb(66, 66, 66);
    color: white;
    padding: 10%;
    margin: 0 20px;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    border-radius: 0%;
    box-shadow: none;
    width: 210px;
    font-size: 16px;
    font-family: 'Mali', cursive;
}


/* ---------------------------------------------------------> media query <---------------------------------------------------------- */



@media only screen and (max-width: 1040px) {

    .on-small-desktop {
        display: block;
    }

    .on-big-desktop {
        display: none;
    }

    .menu {
        top: 0;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 100px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: #ccc;
        box-shadow: none;
    }

    .menu-item {
        color: white;
        height: 40px;
        padding: 0;
        margin: 0 10px;
        border-bottom: none;
        font-size: 35px;
        font-family: 'Amatic SC', cursive;
    }

    .landing-page-img-div {
        margin: 100px 0;
    }

    .landing-page-img {
        margin: auto;
        display: block;
        min-height: auto;
        max-width: 90vw;
        height: 80vh;
    }

    @keyframes move {
        from {
            top: 65vh;
        }

        to {
            top: 68vh;
        }
    }

    .nav-img {
        width: 70px;
        height: 70px;
        opacity: 90%;
    }

    #wrapper {
        padding: 120px 0 0 0;
    }


    .form-header {
        background-color: white;
    }

    .form-header>p {
        color: black;
        font-weight: 500;
        font-family: 'Mali', cursive;
    }

    .form-container {
        padding: 120px 0 0 0;
    }

    form {
        width: 100vw;
        margin: 0 auto;
        box-shadow: none;
    }

    .user-data-form {
        width: 98%;
    }

    fieldset {
        width: 90%;
    }

    #favorite-folk-costume {
        width: 99%;
        font-size: 15px;
    }


    table {
        display: none;
    }

    .content-img {
        min-width: 90vw;
    }

    .main-menu-item {
        display: none;
    }

    .content-div {
        background-color: white;
        padding: 10px;
        border: none;
    }

    img.content-img {
        min-width: 80vw;
    }
}